// LAYOUT.scss

// HTML
html {
  font-size: 16px;
}

// BODY
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// RESPONSIVE MEDIA
img,
embed,
object,
video {
  max-width: 100%;
}

// GRIDS (Feel free to change these)
// .column {
//   @include make-col-ready();
//   @include make-col(12);
// }
.blog {
  &-row {
    @include make-row();
  }
  &-col {
    @include make-col-ready();
    @include make-col(4);
  }
}
