// LAYOUT.scss

// HTML
html {
  font-size: 16px;
}

// BODY
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// RESPONSIVE MEDIA
img,
embed,
object,
video {
  max-width: 100%;
}

// GRIDS (Feel free to change these)
// .col {
//   @include make-col-ready();
//   &.col--full {
//     @include make-col(12);
//   }
//   &.col--semi {
//     @include make-col(6);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--one {
//     @include make-col(1);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--two {
//     @include make-col(2);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--three {
//     @include make-col(3);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--four {
//     @include make-col(4);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--five {
//     @include make-col(5);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--seven {
//     @include make-col(7);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--eight {
//     @include make-col(8);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--nine {
//     @include make-col(9);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--ten {
//     @include make-col(10);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
//   &.col--eleven {
//     @include make-col(11);
//     @media #{$small} {
//       @include make-col(12);
//     }
//   }
// }
